body {
    font-family: BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 1.1em; padding: 0 1em;
}
a:not(:hover) {text-decoration: none;}
ul {padding: 0;}
li {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0.2em;
}
li .icon, li .noicon {min-height: 1.5em; min-width: 2em;}
li .icon {background-size: 1.5em; background-repeat: no-repeat;}

body {color: #202020;}
a {color: #1a0dab;}
a:visited {color: #681da8;}
@media (prefers-color-scheme: dark) {
    body {background: #1b1e20; color: #c8c8c8;}
    a {color: #8ab4f8;}
    a:visited {color: #c58af9;}
}

.file .icon {background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii02NCAwIDUxMiA1MTIiPgo8cGF0aCBzdHlsZT0iZmlsbDojOTBDQUY5OyIgZD0iTTIyNCAxMzZWMEgyNEMxMC43IDAgMCAxMC43IDAgMjR2NDY0YzAgMTMuMyAxMC43IDI0IDI0IDI0aDMzNmMxMy4zIDAgMjQtMTAuNyAyNC0yNFYxNjBIMjQ4Yy0xMy4yIDAtMjQtMTAuOC0yNC0yNHptMTYwLTE0LjF2Ni4xSDI1NlYwaDYuMWM2LjQgMCAxMi41IDIuNSAxNyA3bDk3LjkgOThjNC41IDQuNSA3IDEwLjYgNyAxNi45eiIvPgo8L3N2Zz4K');}
